@keyframes backgroundAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .app-container {
    background-image: url('../public/spaceImage.jpg'); /* Add your image here */
    background-size: cover;
    
    background-position: center;
    animation: backgroundAnimation 15s ease infinite;
  }
  